html {
    height:100%;
}

/* Removes underline from all links*/
a {
    text-decoration: none;
}

/* Centered Text and Elements text-align: center;*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Large Title */
.largeTitle {
    font-size: 600%;
}

/* Light Heading Style*/
.lightText{
    color: #EBE0D2;
}

/* Dark Heading Style*/
.darkText{
    color: #084A59;
}

/* Black Text Style*/
.blackText {
    color: black;
}

/* Larger Button Style*/
.largeBtn {
    height: 60px;
}


.lightBorder {
    border: 3px solid #E1D1BC;
    border-radius: 10px;
}

/* Style for Navigation Bar Items*/
.navItem {
    color: #BEBEBE;
}

.navItem:hover {
    color: white;
}

/* CSS for Homepage */
.homePage {
    height:100%;
    background-image: linear-gradient(#E1D1BC, #EBE0D2);
    /*background-image: linear-gradient(#E8CEB0,#E1D1BC, #EBE0D2);*/
    width: 100%;
    height: 100%;
}

/* CSS for Login/Register Pages */
.loginPage {
    height:100%;
    background-image: linear-gradient(#4193A6,#4ba4b8, #73b8c8);
    width: 100%;
    height: 100%;
    /*background-color: #4193A6;*/
}

/* CSS for Hangman Game Pages */
.hangmanGamePage {
    height:100%;
    background-image: linear-gradient(#084A59,#156A7D, #187D94);
    width: 100%;
    height: 100%;
    /**/
}


.conceal {
    display: none;
}

/* Start Page Button to Choose Game Mode */
.startBtn {
    border: 3px solid #084A59;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    background-color: #EBE0D2;
    color: #084A59;
}

/* Hover Selector for Start Button */
.startBtn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px 1px;
}

/* Active Selector for Start Button */
.startBtn:active{
    transform: scale(1.05) translateY(3px);
    box-shadow: 0 0 10px 1px;
}

/* Canvas for Hangman Game Play Pages*/
#singleplayerCanvas {
    width: 900px; /*650px*/
    height: 600px;
    border: 7px solid #333333;
}

#startLogo {
    width: 400px;
}

#guess {
    display: flexbox;
    flex-direction: column;
    position: relative;
    bottom: 135px;
    gap: 2px;
}

#guessTitle {
    color: #084A59;
}

.guessElement{
    border-radius: 5px;
    border-color: #084A59;
    font-family: monospace;
    height: 40px;
}

#guessText {
    text-align: center;
}

#guessBtn {
    background-color: #084A59;
    color: #EBE0D2;
    font-size: 20px;
}
/*
color: #084A59;
*/
#guessWarning {
    padding-top: 10px;
    font-size: 18px;
    color: #B3351E;
}

#result {
    position: relative;
    bottom: 135px;
    color: #084A59;
}

#endBtns {
    position: relative;
    bottom: 120px;
}

.endBtn {
    border-radius: 5px;
    border-color: #084A59;
    font-family: monospace;
    font-weight: bold;
    height: 50px;
    width: 150px;
}