<!--Base HTML Template for Inheritance-->
<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>Hangman {{title}}</title>
        {% else %}
        <title>Hangman</title>
        {% endif %}
    </head>
    <body>
        <div>
            <ul>
                <li><a href="{{ url_for('index') }}">Hangman</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!--Content for Inherited Templates-->
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>