<!--Index/Homepage Template - Inherits from Base Template-->
{% extends "base.html" %}

{% block content %}
    <h1 class="center largeTitle darkText">Hangman Game</h1>
    {% if current_user.is_anonymous %}
    <h2 class="center">Hello Guest!</h2>
    <div class="center mt-4">
        <img src="{{ url_for('static', filename='img/hangman_logo.png') }}" style="width:500px;" alt="Hangman Logo">
    </div>
    {% else %}
    <h2 class="center">Hello, {{ current_user.username.capitalize() }}!</h2>
    <div class="center mt-5">
        <img src="{{ url_for('static', filename='img/hangman_logo.png') }}" style="width:500px;" alt="Hangman Logo">
    </div>
    <h2 class="center mt-5">Welcome back to Hangman!</h2>
    {% endif %}
{% endblock %}