<!--Index/Homepage Template - Inherits from Base Template-->
{% extends "base.html" %}

{% block content %}
    <h1 class="text-center largeTitle darkText">Hangman Game</h1>
    {% if current_user.is_anonymous %}
    <h2 class="text-center">Hello Guest!</h2>
    <div class="text-center mt-4">
        <img class="img-fluid" src="{{ url_for('static', filename='img/hangman_logo.png') }}" style="width:500px;" alt="Hangman Logo">
    </div>
    {% else %}
    <h2 class="text-center">Hello, {{ current_user.username.capitalize() }}!</h2>
    <div class="text-center mt-5">
        <img class="img-fluid" src="{{ url_for('static', filename='img/hangman_logo.png') }}" style="width:500px;" alt="Hangman Logo">
    </div>
    <h2 class="text-center mt-5">Welcome to Hangman!</h2>
    {% endif %}
{% endblock %}