<!--Singleplayer Hangman Game Page Template - Inherits from Base Hangman Template-->
{% extends "base_hangman.html" %}

{% block game %}
    <h3 class="text-center lightText">Single Player</h3>
    <br>
    <div class="text-center">
        <canvas id="singleplayerCanvas" ></canvas>
        <div class="conceal">
            <img id="hangmanSetup" src="{{ url_for('static', filename='img/hangman_setup.png') }}">
            <img id="blender" src="{{ url_for('static', filename='img/blender.png') }}">
            <img id="hangman1" src="{{ url_for('static', filename='img/hangman1.png') }}">
            <img id="hangman2" src="{{ url_for('static', filename='img/hangman2.png') }}">
            <img id="hangman3" src="{{ url_for('static', filename='img/hangman3.png') }}">
            <img id="hangman4" src="{{ url_for('static', filename='img/hangman4.png') }}">
            <img id="hangman5" src="{{ url_for('static', filename='img/hangman5.png') }}">
            <img id="hangman6" src="{{ url_for('static', filename='img/hangman6.png') }}">
            <div id="word">{{ word }}</div>
            <div id="display">{{ display }}</div>
        </div>
    </div>
    <div class="text-center conceal" id="guess">
        <h4 id="guessTitle">What letter would you like to pick?</h4>
        <form class="text-center" onsubmit="return false" id="guessForm">
            <input class="guessElement" type="text" size="10" maxlength="1" autocomplete="off" id="guessText">
            <input class="guessElement" type="button" value="ENTER" id="guessBtn">
        </form>
        <h5 id="guessWarning"></h5>
    </div>
    <h4 class="text-center conceal" id="result"></h4>
    <div class="text-center conceal" id="endBtns">
        <a href="{{ url_for('singleplayer_hangman') }}"><button class="endBtn">Play Again</button></a>
        <a href="{{ url_for('index') }}"><button class="endBtn">Return to Home</button></a>
    </div>
    <img id="helpBtn" src="{{ url_for('static', filename='img/help.png') }}" alt="help-button" 
        data-bs-toggle="popover" data-bs-trigger="focus" tabindex="0" data-bs-html="true" title="Rules" 
        data-bs-content="For each game, you'll be given a random word and have to guess the letters in the word. 
        You can keep guessing until you get the word or until you make 6 incorrect guesses, whichever comes first. 
        <br><br>A piece of the pineapple man will be hung for every incorrect guess and a delicious pineapple smoothie 
        will be made after 6 incorrect guesses! <br><br>Choose your letters wisely and good luck! Pineapple man wants
        to live! &#127821">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}