<!--Singleplayer Hangman Game Page Template - Inherits from Base Hangman Template-->
{% extends "base_hangman.html" %}

{% block game %}
    <h2 class="center">Single Player</h2>
    <br>
    <div class="center">
        <canvas id="startCanvas" class="conceal" ></canvas>
        <canvas id="singleplayerCanvas"></canvas>
        <div style="display:none;">
            <img id="hangmanSetup" src="{{ url_for('static', filename='img/hangman_setup.png') }}">
            <img id="blender" src="{{ url_for('static', filename='img/blender.png') }}">
            <img id="hangman1" src="{{ url_for('static', filename='img/hangman1.png') }}">
            <img id="hangman2" src="{{ url_for('static', filename='img/hangman2.png') }}">
            <img id="hangman3" src="{{ url_for('static', filename='img/hangman3.png') }}">
            <img id="hangman4" src="{{ url_for('static', filename='img/hangman4.png') }}">
            <img id="hangman5" src="{{ url_for('static', filename='img/hangman5.png') }}">
            <img id="hangman6" src="{{ url_for('static', filename='img/hangman6.png') }}">
        </div>
    </div>
{% endblock %}